/***********GENERALI************/ 
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style:none ;
}

a{
    text-decoration: none;
    color: white;
}

.background{
    background-color: #FF6801;
    z-index: 999;
    position: fixed;
    width: 100%;
}
header div{
    height: 80px;
}

main{
    padding-top:150px ;
}

li{
    margin-right: 15px;
}

 .flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
 }

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}
/***********GENERALI************/ 
/***********HEADER*************/
.logo{
  width: 200px; 
  display: flex; 
  align-self: center;
}

.menù li{
    display: inline;
}

/***********FINE HEADER***********/
/**********MAIN************/

.product{
    position: relative;
    width:calc(100% / 3.1);
    margin-bottom: 50px;
}

.modello{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.switch:hover .modello.uno{
    display: none;

}
.switch:hover .modello.due{
    display: block;
}

.modello.uno {
    display: block;
}

.modello.due{
    display:none ;
}

.lable{
    position: absolute;
    bottom: 120px;
    left:0px;
    color: white;
    font-size: 0,8rem;

}

.discount{
    background-color: red;
    padding: 3px 3px;
    
}
.green{
    background-color: green;
    padding: 3px 5px;
}

.hearts{
    position: absolute;
    top:10px;
    right: 0px;
    padding: 5px 5px;
    background-color: white;
}

.euro-red{
    color: red;
}

.euro-bar{
    text-decoration: line-through;
}

footer{
    background-color: black;
    padding-top:40px ;
    padding-bottom: 30px;
    color: white;
}

footer  div.container{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

footer ul{
    display: flex;
}